body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

div {
    margin: 10px;
}

#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
